API_KEY= <apiKey>
AUTH_DOMAIN= <authDomain>
DATABASE_URL= <databaseURL>
PROJECT_ID= <projectID>
STORAGE_BUCKET= <storageBucket>
MESSAGING_SENDER_ID= <messagingSenderID>
APP_ID= <appID>
MEASUREMENT_ID= <measurementID>