// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

:root {
  --color: #243746;
  --color-primary: rgb(21, 136, 118);
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
  --border-color-primary: rgb(0, 123, 255);
  --border-color-light: rgba(0, 0, 0, 0.125);
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: rgb(65, 179, 138);
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
  --border-color-primary: rgb(0, 123, 255);
  --border-color-light: rgba(255, 255, 255, 0.125);
}

$body-bg: var(--bg);
$body-color: var(--color);

$card-border-color:                 var(--border-color-primary);
$card-height:                       null;
$card-color:                        var(--color) ;
$card-bg:                           var(--bg-secondary) ;
// $card-cap-bg:                       var(--bg-secondary); //header bg
// $card-cap-color:                    null;
// $card-spacer-y:                     4px;
// $card-spacer-x:                     7px;

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';